@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
* {
  font-family: "Spartan", sans-serif;
  margin: 0;
}

.loadingSection {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.loadingPage {
  color: black;
}
body {
  background-color: #f1f0cc;
}
.leaflet-container {
  margin-top: 0;
  padding-top: 0;
  width: 85%;
  height: 60vh;
}
.sweet-loading {
  padding: 3em;
}
h1.loading {
  text-align: center;
}
.mapSection {
  display: flex;
  flex-direction: row-reverse;
  border: solid #af9164 2px;
  width: 100%;
}
p.dataquake {
  padding-bottom: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  color: #f1f0cc;
}
.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.5em;
  padding-top: 0;
  background-color: #af9164;
  opacity: 0.8;
  width: 20%;
  text-align: center;
  border-left: solid #af9164 2px;
  border-right: solid #af9164 2px;
  border-bottom: solid #af9164 2px;
}

.bottomBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 40vh;
  background-color: #f0ffce;
}

.thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 10%;
  background-color: #4a6670;
  color: #f1f0cc;
}

.quakeListContainer {
  height: 100%;
  width: 30%;
}
.quakeList {
  max-height: 100%;
  overflow: auto;
  list-style: none;
  padding-left: 1em;
}
.quakeListItem {
  display: flex;
  line-height: 2em;
  justify-content: center;
}
.quakeListItem:nth-child(even) {
  background-color: #ccc;
}
.quakeChartContainer {
  width: 60%;
  height: 100%;
}

li {
  font-weight: bold;
  cursor: pointer;
}

.selected {
  background-color: #f1f0cc;
  border: solid 1px #af9164;
}

.sideBar p {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer;
}
